*.c       text eol=lf
*.cpp     text eol=lf
*.h       text eol=lf
*.s       text
*.sct     text
*.ld      text
*.txt     text
*.xml     text eol=lf
*.py      text
*.md      text
*.json    text
*.tmpl    text
*.dia     binary
*.elf     binary
*.bin     binary
*.exe     binary
*.sh      text eol=lf
*.mk      text eol=lf